.cats {
  border: 1px solid green;
  float:left;
  width: 20%;
  padding: 10px;
  margin: 5px;
}
.cats p {
  background-color: aqua;
}

.cats p a{
  background-color: white;
}

.dogs {
  border: 1px solid green;
  float:left;
  width: 20%;
  padding: 10px;
  margin: 5px;
}

.dogs h2 {
  background-color: yellow;
}

.pigs {
  border: 1px solid green;
  float:left;
  width: 20%;
  padding: 10px;
  margin: 5px;
}

.pigs img {
  border: 3px solid pink;
}

.birds {
  border: 1px solid green;
  float:left;
  width: 20%;
  padding: 10px;
  margin: 5px;
}

.blue-bird {
  font-style: italic;
}

img {
  width: 100%;
  height: 100%;
}
